{% extends "base.html" %}

{% block extrahead%}
    <!-- main.js 스크립트 추가 -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
{% block title %}크리스마스 카드 목록{% endblock %}

{% block content %}
<h2>작성된 카드 목록</h2>
<div class="card-container">
    {% for card in cards %}
    <div class="card">
        <p>{{ card.message }}</p>
        {% if card.image %}
        <img src="{{ url_for('static', filename='uploads/' + card.image) }}" alt="Card Image">
        {% endif %}
    </div>
    {% endfor %}
</div>

<!-- 미니게임 버튼 -->
<button id="minigame-button" class="minigame-button"
        onclick="javascript:onMinigameClicked()">
미니게임하기
</button>


{% endblock %}
